<div class="page-not-found container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="display-4">¡Página no encontrada!</h2>
            <p class="lead">No pudimos encontrar la página que estabas buscando. Quizás se haya movido o el enlace es
                incorrecto.</p>
            <p>P¡puedes volver a la tienda y seguir explorando!</p>
            <a routerLink="/" class="btn btn-outline-primary btn-lg mt-4">Volver al listado de productos</a>
        </div>
    </div>
</div>